@import 'tailwindcss';

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Customize ProseMirror */
.ProseMirror:focus {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}